@font-face {
    font-family: circular;
    src: url(../font/circular-std-medium-500.ttf);
}

* {
    margin: 0;
    font-family: circular;
}

ul li {
    list-style: none;

}

header a {
    text-decoration: none;

}


.a {
    color: rgba(25, 27, 37, 0.5);
}

li a {
    color: #191B25;
    margin: 25px;
    font-size: 14px;
    font-weight: 700;
}

.raw {
    display: flex;
}


.space-between {
    justify-content: space-between;
}

.conteiner {
    max-width: 1184px;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.center-vertically {
    align-items: center;
}

.p50h {
    padding: 40px 0;
}

.emblem h4 {
    padding: 14px;
    font-size: 24px;
    font-weight: 900;
}

.buttons a {
    color: #222831;
    padding: 16px 32px;
    font-size: 14px;
    font-weight: 700;
}

.buttons button {
    border: 0;
    padding: 16px 32px ;
    border-radius: 100px;
    background-color: #5d50c6;
    color: white;
}

/* _______________________header_above_____________________ */



