@font-face {
    font-family: circular;
    src: url(../font/circular-std-medium-500.ttf);
}

* {
    margin: 0;
    font-family: circular;
}

ul li {
    list-style: none;

}

header a {
    text-decoration: none;

}


.a {
    color: rgba(25, 27, 37, 0.5);
}

li a {
    color: #191B25;
    margin: 25px;
    font-size: 14px;
    font-weight: 700;
}

.row {
    display: flex;
}


.space-between {
    justify-content: space-between;
}

.conteiner {
    max-width: 1184px;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.center-vertically {
    align-items: center;
}

.p50h {
    padding: 40px 0;
}

.emblem h4 {
    padding: 14px;
    font-size: 24px;
    font-weight: 900;
}

.buttons a {
    color: #222831;
    padding: 16px 32px;
    font-size: 14px;
    font-weight: 700;
}

.buttons button {
    border: 0;
    padding: 16px 32px;
    border-radius: 100px;
    background-color: #5d50c6;
    color: white;
}

/* _______________________header_above_____________________ */

.font14x700 {
    font-size: 14px;
    font-weight: 700;
}

.op-button {
    color: #f85E9F;
    border: 0;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 16px 32px;
    box-shadow: 0 10px 10px 1px rgb(251, 251, 251);
    border-radius: 100px;
}

.op-button i {
    padding: 0 15px;
    font-size: 20px;
}

.background {
    background-image: url(../img/background.png);
    width: 772px;
    height: 288px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.background2 {
    background-image: url(../img/Rectangle\ 1.png);
    width: 272px;
    height: 300px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.background3 {
    background-image: url(../img/Rectangle\ 2.png);
    width: 272px;
    height: 300px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.background4 {
    background-image: url(../img/Rectangle\ 3.png);
    width: 272px;
    height: 400px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.center-W {
    display: flex;
    align-items: center;
}

.p100 {
    padding: 100px 0;
}

.p70 {
    padding: 70px 0;
}

.m300 {
    margin: 190px 0;
}

.g25 {
    gap: 32px;
}

.column {
    display: flex;
    flex-direction: column;
}

.m32 {
    margin: 0 0 32px 0
}

.g25 {
    gap: 25px;
}

.textbox1 h1 {
    font-size: 69px;
    color: #000000;
}

.g43 {
    gap: 43px;
}

.textbox1 p {
    font-size: 18px;
    font-weight: 400;
    color: rgba(25, 24, 37, 0.500);
}

.purple {
    padding: 16px 32px;
    border-radius: 100px;
    border: 0;
    background-color: #5d50c6;
    color: white;
}

.g16 {
    gap: 16px;
}

.purple-text {
    padding: 16px 32px;
    border-radius: 100px;
    border: 1px;
    color: #222831;
    background-color: rgba(241, 241, 241, 0.1);
    box-shadow: 0 0 1px 1px rgba(231, 231, 231, 0.5);
}

.purple-text i {
    font-size: 20px;
    color: #5d50c6;
    margin: 0 5px 0 0;
}

.textbox1 span {
    color: #f85E9F;
}

.circle {
    background-color: #f85E9F;
    border-radius: 100%;
    width: 64px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 300px 0 0 0;
    position: relative;
    left: 70px;
    top: 40px;
}

.circle i {
    color: white;
    font-size: 30px;
}

.circle2 {
    background-color: #ff5722;
    border-radius: 100%;
    width: 64px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 300px 0 0 0;
    position: relative;
    left: 500px;
    top: 290px;
}

.circle2 i {
    color: white;
    font-size: 25px;
}

.places {
    background-color: rgba(244, 244, 244, 0.8);
    position: relative;
    padding: 16px 32px;
    border-radius: 100px;
    left: 600px;
    top: 80px;
    font-size: 14px;
    font-weight: 700;
    gap: 8px;
    width: 100px;
    height: 20px;
}

.places i {
    color: #facd49;
    font-size: 24px;
}

/* ______________________________________mesame seqction_____________________________________ */