@font-face {
    font-family: bevietnampro;
    src: url(../fonts/BeVietnamPro-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-family: bevietnampro;
}


body {
    background-color: #f9f9f9;
}

ul li {
    list-style: none;

}

ul a {
    text-decoration: none;
    padding: 14px 24px;
    color: #262626;
}

ul {
    display: flex;
    align-items: center;
}

nav {
    text-transform: capitalize;
    display: flex;
    justify-content: space-between;
    max-width: 1596px;
    margin: 0 auto;
    align-items: center;
    padding: 20px 0;
    font-size: 18px;
    font-weight: 400;

}

nav div a {
    text-decoration: none;
    color: #262626;
    font-size: 18px;
}

nav div {
    display: flex;
    gap: 30px;
    align-items: center;
}

nav button {
    text-transform: capitalize;
    padding: 14px 34px;
    background-color: var(--orange);
    border-radius: 8px;
    color: #ffffff;
    border: 0;
}

header p {
    text-align: center;
    color: white;
}


ul img {
    padding: 0 30px 0 0;
}


/*___________________________________________________ tsvladebi______________________________________ */

:root {
    --orange: #ff9500;
    --black: #262626;
    --gray: #f1f1f3;
}






/* _____________________________________________________tavi________________________________________ */

.fa-star {
    color: gold;
    padding: 14px 24px;
}

.orangeh {
    max-width: 1860px;
    background-color: var(--orange);
    margin: 0 auto;
    border-radius: 8px;
}




.row {
    display: flex;
}

.fs18px {
    font-size: 18px;
}


.b1 {
    padding: 14px 24px;
    background-color: #f1f1f3;
    border-radius: 8px;
}

/* _______________________________centraluri_carcera_____________________________________________ */

h1 {
    font-size: 48px;
    font-weight: 600;

}

h1 i {
    background-color: #fff4e5;
    padding: 14px;
    border-radius: 6px;
}



h1 span {
    color: var(--orange);
    padding: 0 0 0 5px;
}

.h1b {
    background-color: #fcfcfd;
    max-width: 854px;
    text-align: center;
    padding: 14px 0;
    border-radius: 11px;
    margin: 0 auto;
    box-shadow: 0 0 5px 1px #f1f1f3;
    position: relative;
}

.wt {
    padding: 100px 0;
}

.conteiner {
    max-width: 1596px;
    margin: 0 auto;
}


.wt2 {
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.wt2 h2 {
    font-size: 38px;
    font-weight: 500;
}

.wt2 p {
    font-size: 18px;
    font-weight: 400;
}

.h1b img {
    position: absolute;
    left: -30px;
    bottom: 85px;
}

.btn1 {
    text-transform: capitalize;
    padding: 14px 34px;
    background-color: var(--orange);
    border-radius: 8px;
    color: #ffffff;
    border: 0;
    font-size: 18px;
    font-weight: 600;
}

.btn2 {
    text-transform: capitalize;
    padding: 14px 34px;
    background-color: white;
    border-radius: 8px;
    color: var(--black);
    border: 0;
    font-size: 18px;
    font-weight: 600;
}


.btn {
    padding: 50px 0;
    text-align: center;
}

/* ___________________________________logo____________________________________________________ */

.logo {
    display: flex;
    justify-content: space-around;
    background-color: white;
    padding: 30px 0;
    border-radius: 12px;
}

.xz {
    background-color: var(--gray);
    width: 1px;
    height: 94px;
}

/* ___________________________________--pirveli seqtsia______________________________________ */