@font-face {
    font-family: bevietnampro;
    src: url(../fonts/BeVietnamPro-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-family: bevietnampro;
}


body {
    background-color: #f9f9f9;
}

ul li {
    list-style: none;

}

ul a {
    text-decoration: none;
    padding: 14px 24px;
    color: #262626;
}

ul {
    display: flex;
    align-items: center;
}

nav {
    text-transform: capitalize;
    display: flex;
    justify-content: space-between;
    max-width: 1596px;
    margin: 0 auto;
    align-items: center;
    padding: 20px 0;
    font-size: 18px;
    font-weight: 400;

}

nav div a {
    text-decoration: none;
    color: #262626;
    font-size: 18px;
}

nav div {
    display: flex;
    gap: 30px;
    align-items: center;
}

nav button {
    text-transform: capitalize;
    padding: 14px 34px;
    background-color: var(--orange);
    border-radius: 8px;
    color: #ffffff;
    border: 0;
}

header p {
    text-align: center;
    color: white;
}


ul img {
    padding: 0 30px 0 0;
}


/*___________________________________________________ tsvladebi______________________________________ */

:root {
    --orange: #ff9500;
    --black: #262626;
    --lgray: #f1f1f3;
    --gray: #59595a;
    --llgray2: #FCFCFD;
    --lgray3: #f7f7f8;
}






/* _____________________________________________________tavi________________________________________ */

.fa-star {
    color: gold;
    padding: 14px 24px;
}

.orangeh {
    max-width: 1860px;
    background-color: var(--orange);
    margin: 0 auto;
    border-radius: 8px;
}




.row {
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
}


.fs18px {
    font-size: 18px;
}


.b1 {
    padding: 14px 24px;
    background-color: #f1f1f3;
    border-radius: 8px;
}

/* _______________________________centraluri_carcera_____________________________________________ */

h1 {
    font-size: 48px;
    font-weight: 600;

}

h1 i {
    background-color: #fff4e5;
    padding: 14px;
    border-radius: 6px;
}



h1 span {
    color: var(--orange);
    padding: 0 0 0 5px;
}

.h1b {
    background-color: #fcfcfd;
    max-width: 854px;
    text-align: center;
    padding: 14px 0;
    border-radius: 11px;
    margin: 0 auto;
    box-shadow: 0 0 5px 1px #f1f1f3;
    position: relative;
}

.wt {
    padding: 100px 0;
}

.conteiner {
    max-width: 1596px;
    margin: 0 auto;
}


.wt2 {
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.wt2 h2 {
    font-size: 38px;
    font-weight: 500;
}

.wt2 p {
    font-size: 18px;
    font-weight: 400;
}

.h1b img {
    position: absolute;
    left: -30px;
    bottom: 85px;
}

.btn1 {
    text-transform: capitalize;
    padding: 14px 34px;
    background-color: var(--orange);
    border-radius: 8px;
    color: #ffffff;
    border: 0;
    font-size: 18px;
    font-weight: 600;
}

.btn2 {
    text-transform: capitalize;
    padding: 14px 34px;
    background-color: white;
    border-radius: 8px;
    color: var(--black);
    border: 0;
    font-size: 18px;
    font-weight: 600;
}


.btn {
    padding: 50px 0;
    text-align: center;
}

/* ___________________________________logo____________________________________________________ */

.logo {
    display: flex;
    justify-content: space-around;
    background-color: white;
    padding: 30px 0;
    border-radius: 12px;
}

.xz {
    background-color: var(--lgray);
    width: 1px;
    height: 94px;
}

/* ___________________________________--pirveli seqtsia______________________________________ */

.p100 {
    padding: 100px 0;
}

.gb {
    max-width: 100%;
}


.px48-600 {
    font-size: 48px;
    font-weight: 600;
}

.px18-400 {
    font-size: 18px;
    font-weight: 400;
}

.mw1177 {
    max-width: 1177px;
}

.gray {
    color: var(--gray);
}



.sb {
    justify-content: space-between;
}

.rltv {
    position: relative;
}

.abs {
    position: absolute;
}

.mh {
    max-height: 80px;
}

.t30 {
    top: 50px;
}

/* ____________________________________cards________________________________________ */


.px80-700 {
    font-size: 80px;
    font-weight: 700;
}

.px24-600 {
    font-size: 24px;
    font-weight: 600;
}

.px74x74 {
    width: 74px;
    height: 74px;
}

.cw {
    margin: auto 0;
}

.bcw {
    background-color: white;
}

.g20 {
    gap: 20px;
}

.tar {
    text-align: right;
}

.p50 {
    padding: 50px;
}

.g40 {
    gap: 40px;
}

.br12 {
    border-radius: 12px;
}


.h48 {
    height: 48%;
}


.arrow {
    left: 340px;
    background-color: var(--lgray);
    border-radius: 8px;
}

.arrow img {
    margin: auto;
    width: 70%;
}


.b0 {
    bottom: 0;
}


/* ___________________________________________________--cards2__________________________________ */

.h100 {
    height: 100%;
}



.w50 {
    width: 50%;
}

.btn3 {
    text-transform: capitalize;
    padding: 10px 16px;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    color: #4c4c4c;
    border: 0;
    font-size: 18px;
    font-weight: 400;
    box-shadow: 0 0 2px 1px #f1f1f3;
}

.ch {
    align-items: center;
}

.mentorname {
    font-size: 20px;
    font-weight: 500;
    color: var(--black);
}


.btn4 {
    text-transform: capitalize;
    padding: 18px 24px;
    background-color: var(--lgray);
    border-radius: 8px;
    color: var(--black);
    border: 0;
    font-size: 18px;
    font-weight: 400;
    box-shadow: 0 0 2px 1px #f1f1f3;
}

.an {
    font-size: 24px;
    font-weight: 600;
    color: var(--black);
}

.h33 {
    height: 33%;
}

/* __________________________________________________--cards3_____________________________________ */

.p30-50 {
    padding: 30px 50px;
}

.bcllg {
    background-color: var(--llgray2);
}

.btn5 {
    text-transform: capitalize;
    padding: 18px 24px;
    background-color: var(--lgray3);
    border-radius: 8px;
    color: var(--black);
    border: 0;
    font-size: 18px;
    font-weight: 500;
    box-shadow: 0 0 2px 1px #f1f1f3;
}

.g10 {
    gap: 10px;
}

.brd12 {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.bru {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}


.px18-600b {
    font-size: 18px;
    font-weight: 600;
    color: #333333;
}


/* _________________________________________________________________prices_______________________________ */


.btn6 {
    text-transform: capitalize;
    padding: 14px 30px;
    background-color: var(--orange);
    border-radius: 8px;
    color: white;
    border: 0;
    font-size: 18px;
    font-weight: 500;
    box-shadow: 0 0 2px 1px #f1f1f3;
}


.btn7 {
    text-transform: capitalize;
    padding: 14px 30px;
    background-color: white;
    border-radius: 8px;
    color: #4c4c4d;
    border: 0;
    font-size: 18px;
    font-weight: 500;
    box-shadow: 0 0 2px 1px #f1f1f3;
}

.p10 {
    padding: 10px;
}


.pos1 {
    right: 0;
    bottom: 100px;
}

.mw1025 {
    max-width: 1025px;
}

.p80 {
    padding: 80px;
}


.px32x32 {
    background-color: #fff4e5;
    width: 32px;
    height: 32px;
}


.c {
    align-items: center;
}

.c1 {
    margin: 0 auto;
}

.br6 {
    border-radius: 6px;
}

.brd {
    border: 1px solid var(--lgray);
}

.ybc {
    background-color: #fff9f0;
    text-align: center;
    padding: 12px 22px;
    border-radius: 6px;
    border: 1px solid #ffeacc;
}

.gbc {
    background-color: var(--llgray2);
    border: 1px solid var(--lgray);
}

.p20 {
    padding: 20px;
}

.gbo {
    border: 1px solid var(--lgray);
}


.br14 {
    border-radius: 14px;
}

.p40 {
    padding: 40px;
}

.avil {
    text-align: center;
}

.g30 {
    gap: 30px;
}

.mc {
    margin: 0 auto;
}


.px32x32w {
    border: 1px solid var(--lgray);
    background-color: #fcfcfd;
    width: 32px;
    height: 32px;
}

.bru14px {
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}

.orbg {
    padding: 20px 24px;
    background-color: var(--orange);
}

.brd14px {
    border-bottom-right-radius: 14px;
    border-bottom-left-radius: 14px;
}


.avil1 {
    text-align: center;
    color: white;
}



.px18-600 {
    font-size: 18px;
    font-weight: 600;
}

.price {
    font-size: 80px;
    font-weight: 600;
}



/* ________________________________________--bolo section______________________________ */


.m150 {
    margin: 150px 0;
}

.p100p {
    padding: 100px;
}

.btn8 {
    text-transform: capitalize;
    padding: 18px 24px;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    color: var(--black);
    border: 1px solid var(--lgray);
    font-size: 18px;
    font-weight: 500;

}

.g100 {
    gap: 100px;
}

.px52x52 {
    background-color: #fff4e5;
    width: 52px;
    height: 52px;
    border-radius: 8px;
}

.w67 {
    width: 67%;
}

.w33 {
    width: 33%;
}

.wertline {
    height: 1px;
    max-width: 800px;
    background-color: var(--lgray);
}

.bcgray {
    background-color: var(--lgray);
}

.br8 {
    border-radius: 8px;
}

.px56x56 {
    width: 56px;
    height: 56px;
}

.br28 {
    border-radius: 28px;
}



/* ________________________________________________footer__________________________________________ */


.mw1860 {
    max-width: 1860px;
    margin: 0 auto;
    padding: 100px 162px 30px 162px;
}

.px52x52lg {
    background-color: var(--lgray);
    width: 52px;
    height: 52px;
    border-radius: 8px;
}

.foota a {
    text-decoration: none;
    color: var(--gray);
}

.w45 {
    width: 45%;
}

.tac {
    text-align: center;
}

.pd30 {
    padding: 0 0 30px 0;
}

.wertline2 {
    height: 1px;
    max-width: 1900px ;
    background-color: var(--lgray);
}



/* ___________________________________________________________courses page _____________________________________ */


.m100 {
    margin: 100px 0;
}

.w100 {
    width: 100%;
}

.px22x600 {
    font-size: 22px;
    font-weight: 600;
}


.bru10px {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.brd10 {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.p30-50 {
    padding: 30px 50px;
}

.px50-800 {
    font-size: 50px;
    font-weight: 800;
    color: var(--black);
}


.px18-500g {
    font-size: 18px;
    font-weight: 500;
    color: #333333;
}


.bottomborder {
    border-bottom: 1px solid var(--lgray);
}

.w20 {
    width: 15%;
}

.border-r {
    border-right: 1px solid var(--lgray);
}

.g50 {
    gap: 50px;
}


/* _____________________________________________________________course page ui ux_______________________ */



.w43{
    width: 43%;
}

.p24-30 {
    padding: 24px 30px;
}

.minutes {
    border-radius: 6px;
    background-color: var(--lgray);
    padding: 12px 14px;
}


.brdy {
    border: 1px solid #ffd599;
    box-shadow: 0 0 3px 0px #ffd599;
}


.minutesy {
    border-radius: 6px;
    background-color: #ffeacc;
    padding: 12px 14px;
}

.px20-500 {
    font-size: 20px;
    font-weight: 500;
}

.c33 {
    color: #333333;
}

.h28 {
    height: 28%;
}


/* ______________________________________________pricing__________________________________ */

.w272h79 {
    width: 272px;
    height: 60px;
}

.m50 {
    margin: 50px;
}


.center {
    display: flex;
    justify-content: center;
}

/* __________________________________________about us______________ */


.md100 {
    margin: 0 0 100px 0;
}

.px24-500 {
    font-size: 24px;
    font-weight: 500;
    color: var(--black);
}

.px48-500 {
    font-size: 48px;
    font-weight: 500;
}


.background {
    background-image: url(../img/Abstract\ Design1.png);
    background-position: 80%;
    background-repeat: no-repeat;
    background-size: contain;
}


.btn9 {
    text-transform: capitalize;
    padding: 18px 24px;
    background-color: var(--orange);
    border-radius: 8px;
    color: #ffffff;
    border: 0;
    font-size: 18px;
    font-weight: 600;
}

.mwb {
    min-width: 130px;
}

.osp {
    color: var(--orange);
}

.g300 {
    gap: 300px;
}